{% extends "base.html" %}
{% load static %}
{% block title %} Recruitment {% endblock %}
{% block body_block %}
    <nav aria-label="breadcrumb">
      <div class=" text-end">
        <a class="btn bg-gradient-success mb-0" href="{% url 'cvform' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Recruitment</a>
      </div>
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="#">Recruitment</a></li>
        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Tables</li>
      </ol>
    </nav>
    <div class="container-fluid py-1">
      <div class="row">
        <div class="col-6">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h5><b>Recruitment View</b></h5>
            </div class="table-responsive p-0">
            <div class="card-body px-0 pt-0 pb-2">
                <table class="table align-items-center justify-content-center mb-0">
                    <tr>
                      <th colspan="2"><img src="{{ recruitment.image.url }}" width="150px"></th>
                    </tr>
                </table>
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="font-weight-bolder">Id</th>
                      <th class="font-weight-bolder">{{ recruitment.id }}</th>
                    </tr>
                    <tr>
                      <th class="font-weight-bolder">Name</th>
                      <th class="font-weight-bolder">{{ recruitment.name }}</th>
                    </tr>
                    <tr>
                      <th class="font-weight-bolder">Email</th>
                      <th class="font-weight-bolder">{{ recruitment.email }}</th>
                    </tr>
                    <tr>
                      <th class="font-weight-bolder">Phone</th>
                      <th class="font-weight-bolder">{{ recruitment.phone }}</th>
                    </tr>
                    <tr>
                      <th class="font-weight-bolder">Address</th>
                      <th class="font-weight-bolder">{{ recruitment.address }}</th>
                    </tr>
                    <tr>
                      <th class="font-weight-bolder">Birthday</th>
                      <th class="font-weight-bolder">{{ recruitment.birthday }}</th>
                    </tr>
                    <tr>
                      <th class="font-weight-bolder">Education</th>
                      <th class="font-weight-bolder">{{ recruitment.education }}</th>
                    </tr>
                    <tr>
                      <th class="font-weight-bolder">Skill</th>
                      <th class="font-weight-bolder">{{ recruitment.skill }}</th>
                    </tr>
                    <tr>
                      <th class="font-weight-bolder">Experience</th>
                      <th class="font-weight-bolder">{{ recruitment.experience }}</th>
                    </tr>
                    <tr>
                      <th class="font-weight-bolder">Objective</th>
                      <th class="font-weight-bolder">{{ recruitment.objective }}</th>
                    </tr>
                    <tr>
                      <th class="font-weight-bolder">Position</th>
                      <th class="font-weight-bolder">{{ recruitment.position }}</th>
                    </tr>
                  </thead>
                </table>
                </div>
            </div>
             <a href="javascript:history.back()" class="btn btn-dark"> Back </a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}