{% extends "base.html" %}
{% load static %}
{% block title %} Recruitment {% endblock %}
{% block body_block %}
    <nav aria-label="breadcrumb">
      <div class=" text-end">
        <a class="btn bg-gradient-success mb-0" href="{% url 'cvform' %}"><i class="fas fa-plus"></i>&nbsp;&nbsp;Add Recruitment</a>
      </div>
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="#">Recruitment</a></li>
        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Tables</li>
      </ol>
    </nav>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h5><b>Recruitment table</b></h5>
            </div class="table-responsive p-0">
            <div class="card-body px-0 pt-0 pb-2">
              <div >
                {% if recruitment_list %}
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="font-weight-bolder">Id</th>
                      <th class="font-weight-bolder">Name</th>
                      <th class="font-weight-bolder">Position</th>
                      <th class="font-weight-bolder">Experience</th>
                      <th class="font-weight-bolder">Skill</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for recruitment in recruitment_list %}
                    <tr>
                      <td>
                        <h6 class="mb-0 text-sm">{{ forloop.counter }}</h6>
                      </td>
                      <td>
                        <div>
                            <img src="{{ recruitment.image.url }}" class="avatar avatar-sm me-3">
                          </div>
                        <h6 class="mb-0 text-sm">{{ recruitment.name }}</h6>
                      </td>
                      <td>
                        <h6 class="mb-0 text-sm">{{ recruitment.position }}</h6>
                      </td>
                      <td>
                        <h6 class="mb-0 text-sm">{{ recruitment.experience }}</h6>
                      </td>
                      <td>
                        <h6 class="mb-0 text-sm">{{ recruitment.skill }}</h6>
                      </td>
                      <td>
                        <div class="dropdown">
                          <button class="btn bg-gradient-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cog "></i>Manage
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item" href="{% url 'recruitment_detail' pk=recruitment.pk %}">
                                 <i class="fa fa-eye text-success fa-fw"></i>&nbsp;View Recruitment
                                </a>
                            </li>
                            {% if user.is_superuser %}
                            <li>
                                <a class="dropdown-item" href="{% url 'recruitment_update' pk=recruitment.pk %}">
                                    <i class="fa fa-edit text-info fa-fw"></i>&nbsp;Edit Recruitment
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'recruitment_delete' pk=recruitment.pk %}">
                                    <i class="fa fa-trash text-danger fa-fw"></i>&nbsp;Delete Recruitment
                                </a>
                            </li>
                            {% endif %}
                          </ul>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <p class="lead text-center"> No Associated Recruitment</p>
              {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body_block %}