<footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-8">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="{% url 'employee_list' %}" class="nav-link text-muted" target="_blank">Employee</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'contract_list' %}" class="nav-link text-muted" target="_blank">Contract</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'job_list' %}" class="nav-link text-muted" target="_blank">Job</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'department_list' %}" class="nav-link pe-0 text-muted" target="_blank">Department</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'recruitment_list' %}" class="nav-link pe-0 text-muted" target="_blank">Recruitment</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'department_list' %}" class="nav-link pe-0 text-muted" target="_blank">Expense</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>